@{
    ViewBag.Title = "Anu's Websraper";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a Finance Web Scraper that scrapes stock data from yahoo finance website. It was designed with Database first approach and then model was created using ADO.Net Entity Data Model </p>
