@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Support:</strong>   <a href="sangkeerthana70@gmail.com">Support@example.com</a><br />
    
</address>